/* BORDES LIST */
/* MARGENES DE LOS H */
/* BORDES LIST */
/* ancho de caja del texto seccion index */
.anchoCajaIndex {
  width: 60%;
  margin: auto; }

.carAncho {
  width: 50%;
  margin-left: 25%; }

/*  menu servicios  */
.centrado {
  display: flex;
  justify-content: center;
  margin: auto; }

.h2Servicios {
  text-decoration: none;
  font-size: 150%;
  font-weight: 500; }

.card-color {
  background-color: #00000010;
  border: none;
  border-radius: 40px;
  height: 360px;
  transition: all 2s;
  overflow: hidden; }
  .card-color:hover {
    background-color: #ffffff60;
    height: 570px; }

.margin-card {
  margin: 10px 10px; }

.grilla__lubricentro {
  margin: 50px auto;
  padding: 40px 0;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 3fr auto;
  gap: 30px; }
  @media screen and (max-width: 420px) {
    .grilla__lubricentro {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px; }
      .grilla__lubricentro .grilla__brands {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px; } }

.grilla__brands {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; }

.card__brand {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: auto;
  border-radius: 30px;
  background-color: #2c3e5050; }

.iframe-responsive {
  width: 600px;
  height: 460px; }
  @media screen and (max-width: 420px) {
    .iframe-responsive {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0; } }

@media screen and (max-width: 420px) {
  .mapa-responsive {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; } }

.sectionContacto {
  background-color: #bdc3c7; }
  .sectionContacto .titContacto {
    text-decoration: none;
    margin: 30px auto;
    padding: 10px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.041);
    border-radius: 10px;
    font-style: italic;
    font-size: 3rem; }
    .sectionContacto .titContacto:hover {
      background-color: #2c3e5050;
      text-decoration: underline; }
    @media screen and (max-width: 420px) {
      .sectionContacto .titContacto {
        width: 100%;
        height: 100%;
        margin: auto;
        font-size: 2rem; } }
  .sectionContacto p {
    font-weight: 600;
    background-color: #2c3e5050;
    font-size: 1rem; }

.iframe2-responsive {
  margin-top: 1rem;
  width: 50%;
  height: 360px; }
  @media screen and (max-width: 420px) {
    .iframe2-responsive {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0; } }

@media screen and (max-width: 420px) {
  .publicidad-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; } }

.anchoModif-form {
  width: 40%;
  margin: 0 auto; }

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  display: grid;
  grid-template-areas: "banner" "botonera" "contenido" "piePagina" "a";
  font-family: Montserrat; }
  body .linkBanner {
    grid-area: a; }
  body header {
    grid-area: banner;
    justify-self: center; }
  body nav {
    display: flex;
    justify-content: center;
    grid-area: botonera;
    background-color: #2c3e50; }
    body nav .toggleHorizontal {
      display: flex;
      flex-direction: row; }
  body main {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    grid-area: contenido;
    text-align: center; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    color: white; }

h1 {
  margin: 5px 5px 25px 5px;
  text-decoration: underline; }

h2 {
  margin: 5px 5px 25px 5px;
  text-decoration: underline; }

h3 {
  margin: 5px 5px 25px 5px;
  text-decoration: underline; }

footer {
  background-color: #bdc3c7; }
  footer p {
    background-color: #bdc3c7;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0; }
  footer li {
    font-size: 12px;
    border-radius: 2px;
    padding: 1px; }

li {
  border-radius: 4px;
  background-color: #f55239;
  margin: 2px;
  list-style-type: none;
  display: inline-block;
  border: 1px solid black; }
  li:hover {
    background-color: #f5523996; }

.consultaWp {
  background-color: #25D366;
  border-radius: 9px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 1rem;
  right: 1rem; }
  @media screen and (max-width: 420px) {
    .consultaWp {
      background-color: #25D366;
      border-radius: 4px;
      width: 30px;
      height: 30px;
      position: fixed;
      bottom: 1rem;
      right: 1rem; } }

@media screen and (max-width: 420px) {
  header img {
    max-width: 420px; }
  main {
    max-width: 420px; } }

footer ul {
  display: flex;
  justify-content: center;
  align-items: center; }
