$fuenteContacto: italic;
$fszContacto: 3rem;
$fszparrafos: 1rem;
$colorCajaInfo: #2c3e5050;
$anchoCaja: 50%;
$margenH: 5px 5px 25px 5px;
$tDecoH: none;

/* BORDES LIST */
$gBorde: 1px;
$cBorde: black;
$tBorde: solid;