.sectionContacto{
    background-color: nth($coloresSitio, 4);
    .titContacto{
        text-decoration: none;
        margin: 30px auto;
        padding: 10px;
        width: 400px;
        background-color: rgba(0, 0, 0, 0.041);
        border-radius: 10px;
        font-style: $fuenteContacto;
        font-size: $fszContacto;
        &:hover{
            background-color: nth($coloresSitio, 2);
            text-decoration:underline;
        }
    }
    p{
        font-weight: 600;
        @include infoContacto($fszparrafos, $colorCajaInfo)
        }

    @media screen and (max-width: 420px){
        .titContacto{
            width: 100%;
            height: 100%;
            margin: auto;
            font-size: nth($sizes, 2);
        }
    }    
    }
    footer{
        background-color: map-get($footerContacto, bgcolor);
        ul{
            @extend %display;
        }
        li{
            font-size: map-get($footerContacto, fontSize);
            border-radius: map-get($footerContacto, bordes);
            padding: map-get($footerContacto, margenInterno);
        }
    }



