
.grilla__lubricentro{
    padding: 40px 0;
    display: grid;
    grid-template-columns: 3fr auto;

    @media screen and (max-width: 420px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        .grilla__brands{
            display: grid;
            grid-template-columns: 1fr;
            gap: 5px;
        }  

    }
}    

.grilla__brands{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
        @media screen and (max-width: 768px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;   
        }
}

.card__brand{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: auto;
    border-radius: 30px;
    background-color: nth($coloresSitio, 2);
}

.btnPosition{
    margin-top: 2rem;
}

.cardModif1{
    flex-direction: row;
    gap: 30px;
    background-color: #2c3e5050;
    max-width: fit-content;
    margin: auto;
}

#catalogo{
    font-size: 2rem;
}
#carrito{
    font-size: 2rem;
}
