
.grilla__lubricentro{
    padding: 40px 0;
    display: grid;
    grid-template-columns: 3fr auto;

    @media screen and (max-width: 420px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        .grilla__brands{
            display: grid;
            grid-template-columns: 1fr;
            gap: 5px;
        }  

    }
}    

.grilla__brands{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card__brand{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: auto;
    border-radius: 30px;
    background-color: nth($coloresSitio, 2);
}

