
.grilla__lubricentro{
    margin: 50px auto;
    padding: 40px 0;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 3fr auto;
    gap: 30px;

    @media screen and (max-width: 420px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        .grilla__brands{
            display: grid;
            grid-template-columns: 1fr;
            gap: 5px;
        }  

    }
}    

.grilla__brands{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card__brand{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    background-color: nth($coloresSitio, 2);
    img {
        margin: 0 auto;
        max-width: 80%;
    }
}
.card__brand-cart{
    max-width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    background-color: nth($coloresSitio, 2);
    text-align: center;
    img {
        margin: 0 auto;
        max-width: 40%;
    }
}

.btnPosition{
    margin-top: 2rem;
}

.btnRadius{
    margin: 5px;
    border-radius: 20px;
}

.btnSignos{
    align-self: center;
    margin: 5px;
    border-radius: 5px;
}

.btnGridPos{
    display: flex;
    flex-direction: column;
}

.cardModif1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    background-color: nth($coloresSitio, 2);
    width: 100%;
    margin: auto;
}

#catalogo{
    font-size: 2rem;
}

#carrito{
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1em;
}
